.product-page {
  .table {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    width: 100%;
    .td {
      flex: 1;
    }
  }
  .products {
    .product {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid gray;
      width: 100%;
      padding: 16px;
      align-items: center;
      .td {
        flex: 1;
      }
      .action {
        display: flex;
      }
    }

    .product:first-child {
      padding-top: 0;
    }
  }
}
